In [1]:
# Importacion de librerias necesarias para el analisis de datos tras EDA
# ---------------------------------------------------------------------------------
# Tratamiento de datos
import pandas as pd
import numpy as np

#Gestion de archivos y rutas
import os
import sys

# Visualizacion de datos
import matplotlib.pyplot as plt
import seaborn as sns

# Configuracion de Pandas y eliminacion de warnings
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas en los DataFrames
import warnings
warnings.filterwarnings("ignore")  # Ocultar warnings innecesarios

# Funciones de extraccion y exploracion de datos
# Obtener la ruta del directorio raiz del proyecto
ruta_proyecto = os.path.abspath(os.path.join(os.getcwd(), ".."))
# Agregar src/ al path si no esta ya incluido
if ruta_proyecto not in sys.path:
    sys.path.append(ruta_proyecto)
    
# Importar modulos de src   
from src import eda
from src import variables as va
from src import analisis as an

In [2]:
# Importacion datos post EDA
df = eda.extraer_datos_csv("../datos/procesado/EDA_Bank_Customer_Churn_Prediction.csv")

âœ… Datos extraidos correctamente. Filas: 10000, Columnas: 12

,id_cliente,puntacion_credito,pais,genero,edad,antiguedad,saldo,num_productos,tarjeta_credito,miembro_activo,salario_estimado,abandono
0,15634602,619,France,Female,42,2,0.00,1,Si,Si,101348.88,Si
1,15647311,608,Spain,Female,41,1,83807.86,1,No,Si,112542.58,No
2,15619304,502,France,Female,42,8,159660.80,3,Si,No,113931.57,Si
3,15701354,699,France,Female,39,1,0.00,2,No,No,93826.63,No
4,15737888,850,Spain,Female,43,2,125510.82,1,Si,Si,79084.10,No

## Perfil general del cliente âœ¨

In [3]:
eda.obtener_estadisticas(df)

ðŸ“Œ Estadisticas descriptivas de variables numericas:

,count,mean,std,min,25%,50%,75%,max
id_cliente,10000.00,15690940.57,71936.19,15565701.00,15628528.25,15690738.00,15753233.75,15815690.00
puntacion_credito,10000.00,650.53,96.65,350.00,584.00,652.00,718.00,850.00
edad,10000.00,38.92,10.49,18.00,32.00,37.00,44.00,92.00
antiguedad,10000.00,5.01,2.89,0.00,3.00,5.00,7.00,10.00
saldo,10000.00,76485.89,62397.41,0.00,0.00,97198.54,127644.24,250898.09
num_productos,10000.00,1.53,0.58,1.00,1.00,1.00,2.00,4.00
salario_estimado,10000.00,100090.24,57510.49,11.58,51002.11,100193.91,149388.25,199992.48

ðŸ“Œ Estadisticas descriptivas de variables categoricas:

                 count unique     top  freq
pais             10000      3  France  5014
genero           10000      2    Male  5457
tarjeta_credito  10000      2      Si  7055
miembro_activo   10000      2      Si  5151
abandono         10000      2      No  7963

In [ ]:
an.generar_histogramas_kde(df, ruta_guardado="../imagenes/")

In [ ]:
an.generar_boxplots(df, ruta_guardado="../imagenes/")