In [2]:
# Importacion de librerias necesarias para el analisis de datos tras EDA
# ---------------------------------------------------------------------------------
# Tratamiento de datos
import pandas as pd
import numpy as np

#Gestion de archivos y rutas
import os
import sys

# Visualizacion de datos
import matplotlib.pyplot as plt
import seaborn as sns

# Configuracion de Pandas y eliminacion de warnings
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas en los DataFrames
import warnings
warnings.filterwarnings("ignore")  # Ocultar warnings innecesarios

# Funciones de extraccion y exploracion de datos
# Obtener la ruta del directorio raiz del proyecto
ruta_proyecto = os.path.abspath(os.path.join(os.getcwd(), ".."))
# Agregar src/ al path si no esta ya incluido
if ruta_proyecto not in sys.path:
    sys.path.append(ruta_proyecto)
    
# Importar modulos de src   
from src import eda
from src import variables as va

In [3]:
# Importacion datos post EDA
df = eda.extraer_datos_csv("../datos/procesado/EDA_Bank_Customer_Churn_Prediction.csv")

âœ… Datos extraidos correctamente. Filas: 10000, Columnas: 12

,id_cliente,puntacion_credito,pais,genero,edad,antiguedad,saldo,num_productos,tarjeta_credito,miembro_activo,salario_estimado,abandono
0,15634602,619,France,Female,42,2,0.00,1,Si,Si,101348.88,Si
1,15647311,608,Spain,Female,41,1,83807.86,1,No,Si,112542.58,No
2,15619304,502,France,Female,42,8,159660.80,3,Si,No,113931.57,Si
3,15701354,699,France,Female,39,1,0.00,2,No,No,93826.63,No
4,15737888,850,Spain,Female,43,2,125510.82,1,Si,Si,79084.10,No